setup.wizard.enabled=false
liferay.home={{liferay_path}}
auto.deploy.deploy.dir={{liferay_autodeploy_dir}}
admin.email.from.address=test@liferay.com
admin.email.from.name=Test Test
company.default.locale=en_US
company.default.web.id=liferay.com
default.admin.email.address.prefix=test
setup.wizard.add.sample.data=on
setup.wizard.enabled=false
#mail.session.jndi.name=java:jboss/mail/MailSession

jdbc.default.url={{liferay_default_database_url}}
jdbc.default.driverClassName={{liferay_driverClassName}}
jdbc.default.username={{liferay_db_user}}
jdbc.default.password={{liferay_db_password}}
